## NTP 
##### Device 1
<img src="./NTP/NTP_Core-1.JPG" alt="" width="650">

##### Device 2
<img src="./NTP/NTP_ServerSW1.JPG" alt="" width="650">

## Syslog
#### Cisco Service Page
<img src="./Syslog/Syslog_Management-Server.JPG" alt="" width="650">

## SNMP 
#### Cisco Syslog Page
<img src="./Syslog/SNMP-Commands.JPG" alt="" width="650">

Here we can see that an ACL after the community string command line is not supported. Additionally, no command for location or contact is recognized on Layer 2 and 3 switches.

## TFTP
#### Configs for all switches backed up to TFTP on the Management-Server
<img src="./DNS/TFTP_backups.JPG" alt="" width="650">

## DNS

#### DNS Host
<img src="./DNS/DNS_hosts.JPG" alt="" width="650">

#### Ping from PC0 using domain name instead of IP
<img src="./DNS/DNS_ping.JPG" alt="" width="650">

## Security Alerts on Syslog
<img src="./Syslog/Security_Alerts_psecure.JPG" alt="" width="650">